.product-promo__help.active, .main-header__section-title, .main-menu__item_active, .main-menu__item_active a, .main-menu__item_active .main-menu-link, .main-menu__item a:hover, .main-menu__item a:focus, .main-menu-link_active, .menu-3-item .menu-3-item-link, .promo-block__action__more a.link-icon, .promo-block__action__more a.link-icon:hover, .promo-block__action__label__inner, a.promo-block__action__label__inner, a.promo-block__action__label__inner:hover, .sale-label { color: rgb(54, 106, 243); }
.main-menu__item_active::before { background: rgb(54, 106, 243) none repeat scroll 0% 0%; }
.main-menu__item_active .main-menu-link { color: rgb(0, 0, 0); }
.btn.btn-demo_transparent:hover, .btn.btn-demo_transparent:active, .btn.btn-demo_transparent.active, .flex-menu-popup .menu-2-item-link, .flex-menu-popup .menu-2-item.active, .btn.btn-demo, .btn.btn-product_white, .sociallinkList_subscribe .konturIconic, .menu-btn, a.menu-btn { color: rgb(54, 106, 243) !important; }
.menu-btn:hover, a.menu-btn:hover, .menu-btn:focus, a.menu-btn:focus { color: rgb(255, 255, 255) !important; background: rgb(54, 106, 243) none repeat scroll 0% 0% !important; border-color: rgb(54, 106, 243) !important; }
.menu-btn:active, a.menu-btn:active { color: rgb(255, 255, 255) !important; background: rgb(44, 96, 233) none repeat scroll 0% 0% !important; border-color: rgb(44, 96, 233) !important; }
.arrow-up:hover, .arrow-up:active, .arrow-up:focus, .menu-navigation__up, .menu-navigation_fixed .h1, .menu-navigation__item:hover, .menu-navigation__item.active { color: rgb(54, 106, 243) !important; }
@media screen and (max-width: 767px) {
}
@media (max-width: 767px) {
}
:root { --color-primary-button: #366AF3; --color-primary-product: #366AF3; --color-primary-link: #366AF3; --color-primary-button-text: white; }
