@keyframes bounce {
0%, 20%, 53%, 80%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transform: translateZ(0px); }
40%, 43% { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -30px, 0px); }
70% { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -15px, 0px); }
90% { transform: translate3d(0px, -4px, 0px); }
}
@keyframes bounce {
0%, 20%, 53%, 80%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transform: translateZ(0px); }
40%, 43% { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -30px, 0px); }
70% { transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -15px, 0px); }
90% { transform: translate3d(0px, -4px, 0px); }
}
@keyframes flash {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}
@keyframes flash {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}
@keyframes pulse {
0% { transform: scaleX(1); }
50% { transform: scale3d(1.05, 1.05, 1.05); }
100% { transform: scaleX(1); }
}
@keyframes pulse {
0% { transform: scaleX(1); }
50% { transform: scale3d(1.05, 1.05, 1.05); }
100% { transform: scaleX(1); }
}
@keyframes rubberBand {
0% { transform: scaleX(1); }
30% { transform: scale3d(1.25, 0.75, 1); }
40% { transform: scale3d(0.75, 1.25, 1); }
50% { transform: scale3d(1.15, 0.85, 1); }
65% { transform: scale3d(0.95, 1.05, 1); }
75% { transform: scale3d(1.05, 0.95, 1); }
100% { transform: scaleX(1); }
}
@keyframes rubberBand {
0% { transform: scaleX(1); }
30% { transform: scale3d(1.25, 0.75, 1); }
40% { transform: scale3d(0.75, 1.25, 1); }
50% { transform: scale3d(1.15, 0.85, 1); }
65% { transform: scale3d(0.95, 1.05, 1); }
75% { transform: scale3d(1.05, 0.95, 1); }
100% { transform: scaleX(1); }
}
@keyframes swing {
20% { transform: rotate(15deg); }
40% { transform: rotate(-10deg); }
60% { transform: rotate(5deg); }
80% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}
@keyframes swing {
20% { transform: rotate(15deg); }
40% { transform: rotate(-10deg); }
60% { transform: rotate(5deg); }
80% { transform: rotate(-5deg); }
100% { transform: rotate(0deg); }
}
@keyframes tada {
0% { transform: scaleX(1); }
10%, 20% { transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); }
30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); }
40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); }
100% { transform: scaleX(1); }
}
@keyframes tada {
0% { transform: scaleX(1); }
10%, 20% { transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg); }
30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate(3deg); }
40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg); }
100% { transform: scaleX(1); }
}
@keyframes wobble {
0% { transform: none; }
15% { transform: translate3d(-25%, 0px, 0px) rotate(-5deg); }
30% { transform: translate3d(20%, 0px, 0px) rotate(3deg); }
45% { transform: translate3d(-15%, 0px, 0px) rotate(-3deg); }
60% { transform: translate3d(10%, 0px, 0px) rotate(2deg); }
75% { transform: translate3d(-5%, 0px, 0px) rotate(-1deg); }
100% { transform: none; }
}
@keyframes wobble {
0% { transform: none; }
15% { transform: translate3d(-25%, 0px, 0px) rotate(-5deg); }
30% { transform: translate3d(20%, 0px, 0px) rotate(3deg); }
45% { transform: translate3d(-15%, 0px, 0px) rotate(-3deg); }
60% { transform: translate3d(10%, 0px, 0px) rotate(2deg); }
75% { transform: translate3d(-5%, 0px, 0px) rotate(-1deg); }
100% { transform: none; }
}
@keyframes bounceIn {
0%, 20%, 40%, 60%, 80%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
20% { transform: scale3d(1.1, 1.1, 1.1); }
40% { transform: scale3d(0.9, 0.9, 0.9); }
60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
80% { transform: scale3d(0.97, 0.97, 0.97); }
100% { opacity: 1; transform: scaleX(1); }
}
@keyframes bounceIn {
0%, 20%, 40%, 60%, 80%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
20% { transform: scale3d(1.1, 1.1, 1.1); }
40% { transform: scale3d(0.9, 0.9, 0.9); }
60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
80% { transform: scale3d(0.97, 0.97, 0.97); }
100% { opacity: 1; transform: scaleX(1); }
}
@keyframes bounceInDown {
0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(0px, -3000px, 0px); }
60% { opacity: 1; transform: translate3d(0px, 25px, 0px); }
75% { transform: translate3d(0px, -10px, 0px); }
90% { transform: translate3d(0px, 5px, 0px); }
100% { transform: none; }
}
@keyframes bounceInDown {
0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(0px, -3000px, 0px); }
60% { opacity: 1; transform: translate3d(0px, 25px, 0px); }
75% { transform: translate3d(0px, -10px, 0px); }
90% { transform: translate3d(0px, 5px, 0px); }
100% { transform: none; }
}
@keyframes bounceInLeft {
0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(-3000px, 0px, 0px); }
60% { opacity: 1; transform: translate3d(25px, 0px, 0px); }
75% { transform: translate3d(-10px, 0px, 0px); }
90% { transform: translate3d(5px, 0px, 0px); }
100% { transform: none; }
}
@keyframes bounceInLeft {
0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(-3000px, 0px, 0px); }
60% { opacity: 1; transform: translate3d(25px, 0px, 0px); }
75% { transform: translate3d(-10px, 0px, 0px); }
90% { transform: translate3d(5px, 0px, 0px); }
100% { transform: none; }
}
@keyframes bounceInRight {
0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(3000px, 0px, 0px); }
60% { opacity: 1; transform: translate3d(-25px, 0px, 0px); }
75% { transform: translate3d(10px, 0px, 0px); }
90% { transform: translate3d(-5px, 0px, 0px); }
100% { transform: none; }
}
@keyframes bounceInRight {
0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(3000px, 0px, 0px); }
60% { opacity: 1; transform: translate3d(-25px, 0px, 0px); }
75% { transform: translate3d(10px, 0px, 0px); }
90% { transform: translate3d(-5px, 0px, 0px); }
100% { transform: none; }
}
@keyframes bounceInUp {
0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(0px, 3000px, 0px); }
60% { opacity: 1; transform: translate3d(0px, -20px, 0px); }
75% { transform: translate3d(0px, 10px, 0px); }
90% { transform: translate3d(0px, -5px, 0px); }
100% { transform: translateZ(0px); }
}
@keyframes bounceInUp {
0%, 60%, 75%, 90%, 100% { transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(0px, 3000px, 0px); }
60% { opacity: 1; transform: translate3d(0px, -20px, 0px); }
75% { transform: translate3d(0px, 10px, 0px); }
90% { transform: translate3d(0px, -5px, 0px); }
100% { transform: translateZ(0px); }
}
@keyframes bounceOut {
20% { transform: scale3d(0.9, 0.9, 0.9); }
50%, 55% { opacity: 1; transform: scale3d(1.1, 1.1, 1.1); }
100% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
}
@keyframes bounceOut {
20% { transform: scale3d(0.9, 0.9, 0.9); }
50%, 55% { opacity: 1; transform: scale3d(1.1, 1.1, 1.1); }
100% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
}
@keyframes bounceOutDown {
20% { transform: translate3d(0px, 10px, 0px); }
40%, 45% { opacity: 1; transform: translate3d(0px, -20px, 0px); }
100% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
}
@keyframes bounceOutDown {
20% { transform: translate3d(0px, 10px, 0px); }
40%, 45% { opacity: 1; transform: translate3d(0px, -20px, 0px); }
100% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
}
@keyframes bounceOutLeft {
20% { opacity: 1; transform: translate3d(20px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
}
@keyframes bounceOutLeft {
20% { opacity: 1; transform: translate3d(20px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
}
@keyframes bounceOutRight {
20% { opacity: 1; transform: translate3d(-20px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
}
@keyframes bounceOutRight {
20% { opacity: 1; transform: translate3d(-20px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
}
@keyframes bounceOutUp {
20% { transform: translate3d(0px, -10px, 0px); }
40%, 45% { opacity: 1; transform: translate3d(0px, 20px, 0px); }
100% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
}
@keyframes bounceOutUp {
20% { transform: translate3d(0px, -10px, 0px); }
40%, 45% { opacity: 1; transform: translate3d(0px, 20px, 0px); }
100% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInDownBig {
0% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInDownBig {
0% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInLeft {
0% { opacity: 0; transform: translate3d(-100%, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInLeft {
0% { opacity: 0; transform: translate3d(-100%, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInLeftBig {
0% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInLeftBig {
0% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInRight {
0% { opacity: 0; transform: translate3d(100%, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInRight {
0% { opacity: 0; transform: translate3d(100%, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInRightBig {
0% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInRightBig {
0% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInUp {
0% { opacity: 0; transform: translate3d(0px, 100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInUp {
0% { opacity: 0; transform: translate3d(0px, 100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInUpBig {
0% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInUpBig {
0% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes fadeOutDown {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, 100%, 0px); }
}
@keyframes fadeOutDown {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, 100%, 0px); }
}
@keyframes fadeOutDownBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
}
@keyframes fadeOutDownBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
}
@keyframes fadeOutLeft {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(-100%, 0px, 0px); }
}
@keyframes fadeOutLeft {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(-100%, 0px, 0px); }
}
@keyframes fadeOutLeftBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
}
@keyframes fadeOutLeftBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
}
@keyframes fadeOutRight {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(100%, 0px, 0px); }
}
@keyframes fadeOutRight {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(100%, 0px, 0px); }
}
@keyframes fadeOutRightBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
}
@keyframes fadeOutRightBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
}
@keyframes fadeOutUp {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
}
@keyframes fadeOutUp {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
}
@keyframes fadeOutUpBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
}
@keyframes fadeOutUpBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
}
@keyframes flip {
0% { transform: perspective(400px) rotateY(-1turn); animation-timing-function: ease-out; }
40% { transform: perspective(400px) translateZ(150px) rotateY(-190deg); animation-timing-function: ease-out; }
50% { transform: perspective(400px) translateZ(150px) rotateY(-170deg); animation-timing-function: ease-in; }
80% { transform: perspective(400px) scale3d(0.95, 0.95, 0.95); animation-timing-function: ease-in; }
100% { transform: perspective(400px); animation-timing-function: ease-in; }
}
@keyframes flip {
0% { transform: perspective(400px) rotateY(-1turn); animation-timing-function: ease-out; }
40% { transform: perspective(400px) translateZ(150px) rotateY(-190deg); animation-timing-function: ease-out; }
50% { transform: perspective(400px) translateZ(150px) rotateY(-170deg); animation-timing-function: ease-in; }
80% { transform: perspective(400px) scale3d(0.95, 0.95, 0.95); animation-timing-function: ease-in; }
100% { transform: perspective(400px); animation-timing-function: ease-in; }
}
@keyframes flipInX {
0% { transform: perspective(400px) rotateX(90deg); transition-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotateX(-20deg); transition-timing-function: ease-in; }
60% { transform: perspective(400px) rotateX(10deg); opacity: 1; }
80% { transform: perspective(400px) rotateX(-5deg); }
100% { transform: perspective(400px); }
}
@keyframes flipInX {
0% { transform: perspective(400px) rotateX(90deg); transition-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotateX(-20deg); transition-timing-function: ease-in; }
60% { transform: perspective(400px) rotateX(10deg); opacity: 1; }
80% { transform: perspective(400px) rotateX(-5deg); }
100% { transform: perspective(400px); }
}
@keyframes flipInY {
0% { transform: perspective(400px) rotateY(90deg); transition-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotateY(-20deg); transition-timing-function: ease-in; }
60% { transform: perspective(400px) rotateY(10deg); opacity: 1; }
80% { transform: perspective(400px) rotateY(-5deg); }
100% { transform: perspective(400px); }
}
@keyframes flipInY {
0% { transform: perspective(400px) rotateY(90deg); transition-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotateY(-20deg); transition-timing-function: ease-in; }
60% { transform: perspective(400px) rotateY(10deg); opacity: 1; }
80% { transform: perspective(400px) rotateY(-5deg); }
100% { transform: perspective(400px); }
}
@keyframes flipOutX {
0% { transform: perspective(400px); }
30% { transform: perspective(400px) rotateX(-20deg); opacity: 1; }
100% { transform: perspective(400px) rotateX(90deg); opacity: 0; }
}
@keyframes flipOutX {
0% { transform: perspective(400px); }
30% { transform: perspective(400px) rotateX(-20deg); opacity: 1; }
100% { transform: perspective(400px) rotateX(90deg); opacity: 0; }
}
@keyframes flipOutY {
0% { transform: perspective(400px); }
30% { transform: perspective(400px) rotateY(-15deg); opacity: 1; }
100% { transform: perspective(400px) rotateY(90deg); opacity: 0; }
}
@keyframes flipOutY {
0% { transform: perspective(400px); }
30% { transform: perspective(400px) rotateY(-15deg); opacity: 1; }
100% { transform: perspective(400px) rotateY(90deg); opacity: 0; }
}
@keyframes lightSpeedIn {
0% { transform: translate3d(100%, 0px, 0px) skewX(-30deg); opacity: 0; }
60% { transform: skewX(20deg); opacity: 1; }
80% { transform: skewX(-5deg); opacity: 1; }
100% { transform: none; opacity: 1; }
}
@keyframes lightSpeedIn {
0% { transform: translate3d(100%, 0px, 0px) skewX(-30deg); opacity: 0; }
60% { transform: skewX(20deg); opacity: 1; }
80% { transform: skewX(-5deg); opacity: 1; }
100% { transform: none; opacity: 1; }
}
@keyframes lightSpeedOut {
0% { opacity: 1; }
100% { transform: translate3d(100%, 0px, 0px) skewX(30deg); opacity: 0; }
}
@keyframes lightSpeedOut {
0% { opacity: 1; }
100% { transform: translate3d(100%, 0px, 0px) skewX(30deg); opacity: 0; }
}
@keyframes rotateIn {
0% { transform-origin: center center 0px; transform: rotate(-200deg); opacity: 0; }
100% { transform-origin: center center 0px; transform: none; opacity: 1; }
}
@keyframes rotateIn {
0% { transform-origin: center center 0px; transform: rotate(-200deg); opacity: 0; }
100% { transform-origin: center center 0px; transform: none; opacity: 1; }
}
@keyframes rotateInDownLeft {
0% { transform-origin: left bottom 0px; transform: rotate(-45deg); opacity: 0; }
100% { transform-origin: left bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInDownLeft {
0% { transform-origin: left bottom 0px; transform: rotate(-45deg); opacity: 0; }
100% { transform-origin: left bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInDownRight {
0% { transform-origin: right bottom 0px; transform: rotate(45deg); opacity: 0; }
100% { transform-origin: right bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInDownRight {
0% { transform-origin: right bottom 0px; transform: rotate(45deg); opacity: 0; }
100% { transform-origin: right bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInUpLeft {
0% { transform-origin: left bottom 0px; transform: rotate(45deg); opacity: 0; }
100% { transform-origin: left bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInUpLeft {
0% { transform-origin: left bottom 0px; transform: rotate(45deg); opacity: 0; }
100% { transform-origin: left bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInUpRight {
0% { transform-origin: right bottom 0px; transform: rotate(-90deg); opacity: 0; }
100% { transform-origin: right bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInUpRight {
0% { transform-origin: right bottom 0px; transform: rotate(-90deg); opacity: 0; }
100% { transform-origin: right bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateOut {
0% { transform-origin: center center 0px; opacity: 1; }
100% { transform-origin: center center 0px; transform: rotate(200deg); opacity: 0; }
}
@keyframes rotateOut {
0% { transform-origin: center center 0px; opacity: 1; }
100% { transform-origin: center center 0px; transform: rotate(200deg); opacity: 0; }
}
@keyframes rotateOutDownLeft {
0% { transform-origin: left bottom 0px; opacity: 1; }
100% { transform-origin: left bottom 0px; transform: rotate(45deg); opacity: 0; }
}
@keyframes rotateOutDownLeft {
0% { transform-origin: left bottom 0px; opacity: 1; }
100% { transform-origin: left bottom 0px; transform: rotate(45deg); opacity: 0; }
}
@keyframes rotateOutDownRight {
0% { transform-origin: right bottom 0px; opacity: 1; }
100% { transform-origin: right bottom 0px; transform: rotate(-45deg); opacity: 0; }
}
@keyframes rotateOutDownRight {
0% { transform-origin: right bottom 0px; opacity: 1; }
100% { transform-origin: right bottom 0px; transform: rotate(-45deg); opacity: 0; }
}
@keyframes rotateOutUpLeft {
0% { transform-origin: left bottom 0px; opacity: 1; }
100% { transform-origin: left bottom 0px; transform: rotate(-45deg); opacity: 0; }
}
@keyframes rotateOutUpLeft {
0% { transform-origin: left bottom 0px; opacity: 1; }
100% { transform-origin: left bottom 0px; transform: rotate(-45deg); opacity: 0; }
}
@keyframes rotateOutUpRight {
0% { transform-origin: right bottom 0px; opacity: 1; }
100% { transform-origin: right bottom 0px; transform: rotate(90deg); opacity: 0; }
}
@keyframes rotateOutUpRight {
0% { transform-origin: right bottom 0px; opacity: 1; }
100% { transform-origin: right bottom 0px; transform: rotate(90deg); opacity: 0; }
}
@keyframes hinge {
0% { transform-origin: left top 0px; animation-timing-function: ease-in-out; }
20%, 60% { transform: rotate(80deg); transform-origin: left top 0px; animation-timing-function: ease-in-out; }
40%, 80% { transform: rotate(60deg); transform-origin: left top 0px; animation-timing-function: ease-in-out; opacity: 1; }
100% { transform: translate3d(0px, 700px, 0px); opacity: 0; }
}
@keyframes hinge {
0% { transform-origin: left top 0px; animation-timing-function: ease-in-out; }
20%, 60% { transform: rotate(80deg); transform-origin: left top 0px; animation-timing-function: ease-in-out; }
40%, 80% { transform: rotate(60deg); transform-origin: left top 0px; animation-timing-function: ease-in-out; opacity: 1; }
100% { transform: translate3d(0px, 700px, 0px); opacity: 0; }
}
@keyframes rollIn {
0% { opacity: 0; transform: translate3d(-100%, 0px, 0px) rotate(-120deg); }
100% { opacity: 1; transform: none; }
}
@keyframes rollIn {
0% { opacity: 0; transform: translate3d(-100%, 0px, 0px) rotate(-120deg); }
100% { opacity: 1; transform: none; }
}
@keyframes rollOut {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(100%, 0px, 0px) rotate(120deg); }
}
@keyframes rollOut {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(100%, 0px, 0px) rotate(120deg); }
}
@keyframes zoomIn {
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
50% { opacity: 1; }
}
@keyframes zoomIn {
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
50% { opacity: 1; }
}
@keyframes zoomInDown {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -1000px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInDown {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -1000px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInLeft {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInLeft {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInRight {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInRight {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInUp {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 1000px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInUp {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 1000px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomOut {
0% { opacity: 1; }
50% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
100% { opacity: 0; }
}
@keyframes zoomOut {
0% { opacity: 1; }
50% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
100% { opacity: 0; }
}
@keyframes zoomOutDown {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 2000px, 0px); transform-origin: center bottom 0px; animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomOutDown {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 2000px, 0px); transform-origin: center bottom 0px; animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomOutLeft {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0px, 0px); }
100% { opacity: 0; transform: scale(0.1) translate3d(-2000px, 0px, 0px); transform-origin: left center 0px; }
}
@keyframes zoomOutLeft {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0px, 0px); }
100% { opacity: 0; transform: scale(0.1) translate3d(-2000px, 0px, 0px); transform-origin: left center 0px; }
}
@keyframes zoomOutRight {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0px, 0px); }
100% { opacity: 0; transform: scale(0.1) translate3d(2000px, 0px, 0px); transform-origin: right center 0px; }
}
@keyframes zoomOutRight {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0px, 0px); }
100% { opacity: 0; transform: scale(0.1) translate3d(2000px, 0px, 0px); transform-origin: right center 0px; }
}
@keyframes zoomOutUp {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -2000px, 0px); transform-origin: center bottom 0px; animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomOutUp {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -2000px, 0px); transform-origin: center bottom 0px; animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes slideInDown {
0% { transform: translateY(-100%); visibility: visible; }
100% { transform: translateY(0px); }
}
@keyframes slideInDown {
0% { transform: translateY(-100%); visibility: visible; }
100% { transform: translateY(0px); }
}
@keyframes slideInLeft {
0% { transform: translateX(-100%); visibility: visible; }
100% { transform: translateX(0px); }
}
@keyframes slideInLeft {
0% { transform: translateX(-100%); visibility: visible; }
100% { transform: translateX(0px); }
}
@keyframes slideInRight {
0% { transform: translateX(100%); visibility: visible; }
100% { transform: translateX(0px); }
}
@keyframes slideInRight {
0% { transform: translateX(100%); visibility: visible; }
100% { transform: translateX(0px); }
}
@keyframes slideInUp {
0% { transform: translateY(100%); visibility: visible; }
100% { transform: translateY(0px); }
}
@keyframes slideInUp {
0% { transform: translateY(100%); visibility: visible; }
100% { transform: translateY(0px); }
}
@keyframes slideOutDown {
0% { transform: translateY(0px); }
100% { visibility: hidden; transform: translateY(100%); }
}
@keyframes slideOutDown {
0% { transform: translateY(0px); }
100% { visibility: hidden; transform: translateY(100%); }
}
@keyframes slideOutLeft {
0% { transform: translateX(0px); }
100% { visibility: hidden; transform: translateX(-100%); }
}
@keyframes slideOutLeft {
0% { transform: translateX(0px); }
100% { visibility: hidden; transform: translateX(-100%); }
}
@keyframes slideOutRight {
0% { transform: translateX(0px); }
100% { visibility: hidden; transform: translateX(100%); }
}
@keyframes slideOutRight {
0% { transform: translateX(0px); }
100% { visibility: hidden; transform: translateX(100%); }
}
@keyframes slideOutUp {
0% { transform: translateY(0px); }
100% { visibility: hidden; transform: translateY(-100%); }
}
@keyframes slideOutUp {
0% { transform: translateY(0px); }
100% { visibility: hidden; transform: translateY(-100%); }
}
#pageWrapper { margin: 0px; padding: 0px; }
.dropdown { position: relative; }
.dropdown-drop { position: absolute; z-index: 100; top: 100%; left: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(233, 233, 233); box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.09); text-align: left; cursor: default; font-weight: 400; opacity: 0; visibility: hidden; margin-top: 8px; transition: opacity 0.25s ease 0s; }
.dropdown-drop_right { right: auto !important; left: -20px !important; }
*::-moz-selection { background: rgb(90, 90, 90) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
body { color: rgb(34, 34, 34); font-size: 15px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; max-width: 2200px; margin: 0px auto; }
body::after { content: ""; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.16) none repeat scroll 0% 0%; opacity: 0; transition: opacity 0.2s ease-in-out 0s; visibility: hidden; }
@media screen and (min-width: 2201px) {
  body { max-width: none; }
}
.container { max-width: 1070px; }
html:not(.mobile-friendly) .container, html:not(.mobile-friendly) body { min-width: 940px; }
html:not(.mobile-friendly) [class*="visible-sm-"], html:not(.mobile-friendly) [class*="visible-xs-"] { display: none !important; }
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 991px) {
  html:not(.mobile-friendly) .menu-footer [class*="col-sm-"] { width: 20%; }
}
@media screen and (max-width: 991px) {
}
.link, .link-icon, a { transition: color 0.1s ease 0s; color: rgb(1, 92, 203); }
.link-icon .konturIconic, .link .konturIconic, a .konturIconic { transition: color 0.1s ease 0s; cursor: pointer; }
.link-icon:active, .link-icon:focus, .link-icon:hover, .link-icon:visited:active, .link:active, .link:focus, .link:hover, .link:visited:active, a:active, a:focus, a:hover, a:visited:active { color: rgb(1, 92, 203); }
.link-gray, a.link-gray { color: rgb(132, 132, 132) !important; }
.link-gray:hover, a.link-gray:hover { text-decoration: none; color: rgb(0, 0, 0) !important; }
.kontur-logo { vertical-align: top; padding: 0px; margin: 0px; }
@media screen and (min-width: 768px) {
  html:not(.mobile-friendly) .hidden-lg, html:not(.mobile-friendly) .hidden-md, html:not(.mobile-friendly) .hidden-sm { display: none !important; }
}
@media screen and (max-width: 767px) {
  .mobile-friendly .chapter, .mobile-friendly .h2.chapter, .mobile-friendly h2.chapter { font-size: 28px; letter-spacing: 0px; }
  .mobile-friendly p.lead { font-size: 18px; font-weight: 400; }
  .mobile-friendly .form_feedback-lightbox, .mobile-friendly .tinyFeedbackLightboxContent { width: 100% !important; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-friendly .container { padding-left: 30px; padding-right: 30px; }
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 480px) {
}
.main-header { position: relative; height: 80px; padding: 0px; }
.main-header__inner { display: flex; position: relative; width: 100%; }
.main-header__body.is-sticky { position: relative; z-index: 999; }
.main-header__item { position: relative; -moz-user-select: none; }
.main-header__item_area-logo { -moz-user-select: text; }
@media screen and (min-width: 768px) {
  .main-header__item_area-secondary-buttons { display: flex; position: absolute; top: 50%; left: -55px; -moz-box-align: center; align-items: center; -moz-box-pack: center; justify-content: center; width: 44px; height: 38px; margin: -23px 0px 0px; }
  .main-header__item_area-logo .kontur-logo_product { margin-top: -10px; }
  .main-header__body { transition: background 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s, -webkit-box-shadow 0.2s ease-in-out 0s; }
  .main-header_landing-layout { height: 96px; }
  .main-header_landing-layout .main-header__body.is-sticky { position: absolute; top: 16px; }
  .main-header__inner { padding: 8px 0px 4px; }
  .main-header__body.is-sticky { position: absolute; z-index: 999; top: 0px; left: 0px; width: 100%; padding: 0px; transform: translateZ(0px); background: transparent none repeat scroll 0% 0%; }
  .main-header__body.is-sticky::before { content: ""; position: fixed; top: 0px; left: 0px; width: 100%; height: 80px; transform: translate3d(0px, -100%, 0px); transition: transform 0s ease 0.15s, opacity 0.15s ease 0s, -webkit-transform 0s ease 0.15s; opacity: 0.001; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07) !important; pointer-events: none; }
  @supports ((-webkit-backdrop-filter:blur(8px)) or (backdrop-filter:blur(8px))) or (-webkit-backdrop-filter:blur(8px)) {
  .main-header__body.is-sticky::before { background: rgba(255, 255, 255, 0.75) none repeat scroll 0% 0%; box-shadow: none !important; }
}
  .main-header__body.is-sticky { position: fixed; }
}
@media screen and (min-width: 1024px) {
  .main-header__item { -moz-box-flex: 1; flex: 1 1 auto; width: auto; }
  .main-header__item_area-main-navigation { -moz-box-flex: 1; flex: 1 1 100%; }
  .main-header__item_area-target-buttons { padding: 0px 0px 0px 28px; text-align: left; white-space: nowrap; }
  .main-header__item_area-logo .kontur-logo { margin-top: 15px; }
  .main-header__item_area-logo .kontur-logo_product { margin-top: 11px; }
}
@media screen and (min-width: 1200px) {
  .main-header__item_area-main-navigation { padding: 0px 0px 0px 8px; }
}
@media screen and (max-width: 1023px) {
  .main-header__inner { position: static; -moz-box-align: center; align-items: center; -moz-box-pack: justify; justify-content: space-between; }
  .main-header__item { position: static; }
  .main-header__item_area-secondary-buttons { display: none; }
  .main-header__item_area-logo { -moz-box-flex: 1; flex-grow: 1; }
  .main-header__item_area-target-buttons { -moz-box-ordinal-group: 2; order: 1; padding-right: 16px; }
  .main-header__item_area-main-navigation { -moz-box-ordinal-group: 3; order: 2; }
}
@media screen and (max-width: 767px) {
  .main-header { height: auto; }
  .main-header__inner { height: 48px; }
  .main-header__item_area-target-buttons { display: none; }
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
.burger { position: relative; width: 44px; height: 38px; padding: 0px; border: 0px none; outline: medium none; background: transparent none repeat scroll 0% 0%; box-shadow: none; color: rgb(34, 34, 34); cursor: pointer; }
.burger span { display: block; position: absolute; left: 12px; width: 22px; height: 2px; background: currentcolor none repeat scroll 0% 0%; }
.burger__top { top: 12px; }
.burger__middle { top: 18px; }
.burger__bottom { top: 24px; }
.burger__bottom, .burger__top { transform-origin: 50% 50% 0px; transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }
.arrow-up { display: flex; -moz-box-align: center; align-items: center; -moz-box-pack: center; justify-content: center; width: 44px; height: 38px; padding: 0px; transition: color 0.2s ease-in-out 0s; border: 0px none; outline: medium none; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; color: rgba(0, 0, 0, 0.2); line-height: 38px; cursor: pointer; }
.arrow-up_is-hide { display: none; }
.arrow-up .konturIconic { font-size: 26px; }
.arrow-up:active, .arrow-up:focus, .arrow-up:hover { outline: medium none; color: rgb(240, 59, 54); }
.kontur-logo { display: inline-block; white-space: nowrap; font-size: 0px; line-height: 1; }
.kontur-logo:active, .kontur-logo:focus, .kontur-logo:hover, .kontur-logo:link, .kontur-logo:visited { color: rgb(34, 34, 34); text-decoration: none; }
.kontur-logo__item { display: inline-block; }
@media screen and (max-width: 767px) {
  .kontur-logo { display: table; margin-top: 0px; }
  .kontur-logo__item { display: table-cell; }
  .kontur-logo__item img, .kontur-logo__item svg { width: auto; height: auto; max-width: 100%; max-height: 24px; }
}
.footer { border-top: 1px solid rgba(0, 0, 0, 0.07); font-size: 15px; padding: 60px 0px 34px; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-left: auto; margin-right: auto; max-width: 2200px; color: rgba(51, 51, 51, 0.6); }
.footer__logo { display: block; margin-top: 15px; color: rgb(34, 34, 34); font-weight: 400 !important; font-size: 30px !important; }
.footer a { color: currentcolor; }
.footer a:hover:not(.sociallinkList-item-link) { color: rgb(51, 51, 51) !important; }
.footer-menu { margin-bottom: 18px; }
.footer-socialBlock__wrap { margin: 20px 0px 0px; }
.footer-second { margin-top: 22px; }
.footer-second_small { font-size: 14px; }
.footer-app-list { margin-left: -10px; margin-right: -10px; }
.footer-app-link { display: inline-block; filter: grayscale(100%); opacity: 0.5; transition: opacity 0.3s ease 0s; margin: 0px 10px; font-size: 0px; line-height: normal; }
.footer-app-link:hover { filter: grayscale(0); opacity: 1; }
.footer .footer-companyname { margin-bottom: 8px; }
.footer .footer-companyname__wrap_revert-on-desktop .footer-companyname { display: flex; }
.footer .footer-companyname__wrap_revert-on-desktop .footer-companyname__year { -moz-box-ordinal-group: 2; order: 1; }
.footer .footer-policy { margin: 0px; }
.footer .footer-policy__link { box-shadow: 0px 1px rgba(0, 0, 0, 0.15); text-decoration: none; }
.footer .footer-policy__link:hover { box-shadow: 0px 1px currentcolor; }
.footer__separator { background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%; height: 2px; }
@media screen and (max-width: 767px) {
  .mobile-friendly .footer { margin: 30px 0px 0px; padding: 0px; border-top: medium none; }
  .mobile-friendly .footer-contacts { background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-radius: 7px; padding: 20px 30px; margin-bottom: 20px; width: 100%; }
  .mobile-friendly .footer-socialBlock__wrap { margin: 7px 0px; text-align: center; }
  .mobile-friendly .footer-second { margin-top: 0px; margin-bottom: 10px; font-size: 14px; display: flex; -moz-box-orient: vertical; -moz-box-direction: reverse; flex-direction: column-reverse; text-align: center; }
  .mobile-friendly .footer-companyname { display: flex; -moz-box-pack: center; justify-content: center; width: 100%; }
  .mobile-friendly .footer-companyname .footer-companyname__year { -moz-box-ordinal-group: 2; order: 1; }
  .mobile-friendly .footer-app-list { margin: 20px 0px; }
  .mobile-friendly .mobile-first-level-menu.menu-footer__item { padding: 7px 0px; }
  .mobile-friendly .mobile-font-semibold { font-weight: 600; }
  .mobile-friendly .menu-footer__list_second-level { color: rgb(51, 51, 51); }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-friendly .footer-second, .mobile-friendly .footer__logo { margin-top: 0px; }
  .mobile-friendly .footer-companyname { display: flex; }
  .mobile-friendly .footer-companyname .footer-companyname__year { -moz-box-ordinal-group: 2; order: 1; }
}
@media screen and (min-width: 1921px) {
  .mobile-friendly .footer-second { margin-top: 30px; }
}
@media screen and (max-width: 767px) {
}
.main-menu { display: flex; flex-wrap: wrap; }
.main-menu_align-left { -moz-box-pack: start; justify-content: flex-start; text-align: left; }
.main-menu__item { display: inline-block; position: relative; font-weight: 600; }
.main-menu__item .dropdown { height: 100%; }
.main-menu__item .burger { display: none; }
.main-menu-link { display: inline-block; vertical-align: middle; position: relative; white-space: nowrap; font-weight: 600; }
.main-menu-link, a.main-menu-link { transition: color 0.15s ease-in-out 0s; color: rgb(34, 34, 34); }
button.main-menu-link { padding: 0px; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 0px none; outline: medium none; }
a.main-menu-link:active, a.main-menu-link:focus, a.main-menu-link:hover { outline: medium none; color: rgb(240, 59, 54); text-decoration: none; }
@media screen and (min-width: 1024px) {
  .main-menu { overflow: hidden; height: 68px; }
  .main-menu__item_active::before { content: ""; position: absolute; z-index: 1; bottom: 14px; left: 0px; width: 100%; height: 2px; background: rgb(240, 59, 54) none repeat scroll 0% 0%; }
  .main-menu__item_submenu-parent.main-menu__item_active::before { width: calc(100% + 3px); }
  .main-menu__item_hide { visibility: hidden; z-index: -1; opacity: 0; }
}
@media screen and (max-width: 1023px) {
  .main-menu__item_desktop { display: none; }
  .main-menu__item_adaptive { display: block !important; padding: 0px !important; margin: 0px !important; height: 38px; line-height: normal; }
  .main-menu__item_adaptive .flex-menu-view-more { display: none; }
  .main-menu__item_adaptive .burger { display: block; margin-right: -11px; }
}
@media screen and (min-width: 768px) {
  .main-menu__item { padding: 20px 4px; font-size: 17px; margin-left: 20px; }
  .main-menu_btn { overflow: visible; flex-wrap: nowrap; }
  .main-menu_btn .main-menu__item { padding-left: 2px; padding-right: 2px; }
  .main-menu_btn .main-menu__item:first-child { margin-left: 0px; }
  .main-menu_btn .main-menu__item_btn-wrap { padding: 12px 0px 16px; }
  .main-menu-link .arrow-control { font-size: 14px; font-weight: 400; margin-right: -6px; }
  .main-menu-link .arrow-control .konturIconic { transition: color 0.15s ease-in-out 0s !important; }
  .main-menu-link .arrow-control__item-close { vertical-align: top !important; }
  .main-menu-link .arrow-control__item-open { vertical-align: initial; }
}
@media screen and (max-width: 767px) {
  .main-menu { -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; }
  .main-menu__item { margin: 0px 0px 8px; padding: 8px 20px; font-size: 18px; max-width: 100%; text-align: center; line-height: normal; }
  .main-menu__item_all-product-link { padding-top: 16px; }
  .main-menu__item_all-product-link::before { content: ""; position: absolute; top: 0px; left: 20px; right: 20px; height: 2px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
  .main-menu .main-menu-link { max-width: 100%; text-overflow: ellipsis; overflow: hidden; line-height: 24px; }
  .main-menu .main-menu-link_active { color: rgba(0, 0, 0, 0.37); }
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 767px) {
}
.menu-btn, a.menu-btn { display: inline-block; text-align: center; height: 40px; min-width: 40px; border: 2px solid; box-sizing: border-box; border-radius: 42px; vertical-align: top; color: rgb(51, 51, 51); cursor: pointer; background: transparent none repeat scroll 0% 0%; font-weight: 600; padding: 0px 19px 2px; line-height: 35px; transition: unset; outline: medium none; }
.menu-btn:hover, a.menu-btn:hover { color: rgb(229, 46, 55) !important; text-decoration: none; border-color: rgb(229, 46, 55); transition: color 0.15s ease-in-out 0s, border 0.15s ease-in-out 0s; }
.menu-btn:active, a.menu-btn:active { color: rgb(255, 240, 240) !important; background: rgb(206, 30, 39) none repeat scroll 0% 0%; border-color: rgb(206, 30, 39); transition: unset; }
@media screen and (max-width: 767px) {
  .mobile-friendly .menu-btn { font-size: 17px !important; }
}
.menu-footer_black { color: rgb(34, 34, 34); font-size: 17px; }
.menu-footer_black:link { color: currentcolor; }
ul.menu-footer__list_second-level { padding-top: 24px; }
ul.menu-footer__list_second-level .link, ul.menu-footer__list_second-level a { color: currentcolor !important; }
.menu-footer__list_p-t-xs { padding-top: 10px !important; }
.menu-footer__item { line-height: 21px; padding: 0px 0px 10px; }
.menu-footer__item-category-title, .menu-footer__item_first-level > a, .menu-footer__item_first-level > span { font-weight: 600; font-size: 18px; }
.menu-footer__item .footer-link { background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 0px none; padding: 0px; color: inherit; }
@media screen and (max-width: 767px) {
  .mobile-friendly .menu-footer { margin-bottom: 8px; }
  .mobile-friendly .menu-footer__list { margin-bottom: 0px; }
  .mobile-friendly .menu-footer__list_second-level { padding: 0px; }
  .mobile-friendly .menu-footer__item { line-height: 1.43; display: block; padding: 3px 0px 5px; width: 100%; }
  .mobile-friendly .menu-footer__item_first-level { padding: 0px 0px 9px; }
  .mobile-friendly .menu-footer__item-category-title, .mobile-friendly .menu-footer__item_first-level .menu-footer__link, .mobile-friendly .menu-footer__item_first-level .menu-footer__list_second-level .mobile-first-level-menu .menu-footer__link { display: inline-block; font-size: 16px; }
  .mobile-friendly .menu-footer .menu-footer__link:hover { color: initial !important; }
  .mobile-friendly .menu-footer__list_second-level { color: rgb(51, 51, 51); }
  .mobile-friendly .menu-footer__list_second-level, .mobile-friendly .menu-footer__list_second-level .menu-footer__link { font-size: 14px; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-friendly .menu-footer__list_p-t-xs { padding-top: 18px !important; }
  .mobile-friendly .menu-footer__item_first-level { padding-bottom: 35px; }
  .mobile-friendly .menu-footer__list_second-level { padding-top: 18px; }
  .mobile-friendly .menu-footer__list_second-level .menu-footer__item { padding: 5px 0px 8px; }
  .mobile-friendly .menu-footer__list_second-level .menu-footer__link { font-size: 14px; }
  .mobile-friendly .menu-footer__item { line-height: 15px; }
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 991px) {
}
@media (min-width: 1200px) {
}
.language { position: relative; padding-left: 36px; display: inline-block; }
.language_eu::before { background-image: url("eu-a2ab6cb562d4a7ca3a9b1736ed3bbbf2.png"); }
.language::before { content: ""; width: 27px; height: 27px; border-radius: 50%; border: 2px solid rgb(236, 236, 236); position: absolute; top: calc(50% - 13px); left: 0px; background-position: 50% center; background-size: contain; }
@media screen and (max-width: 767px) {
  .mobile-friendly .language { display: inline-block; padding-top: 4px; padding-bottom: 4px; }
}
textarea.form-input { resize: none; }
.form-input_inn { width: 130px; }
.form_feedback-lightbox { width: 450px; }
.none { display: none; }
.tinyFeedbackLightboxContent { max-width: 455px; }
.sociallinkList-item { display: inline-block; margin-right: 4px; }
.sociallinkList-item-link { display: inline; background: transparent none repeat scroll 0% 0%; border: medium none; }
.sociallinkList-item-link_share { display: inline-block; text-align: left; }
.sociallinkList-item .sociallinkList-item-link-fb, .sociallinkList-item .sociallinkList-item-link-fb.konturIconic, .sociallinkList-item .sociallinkList-item-link_facebook { color: rgb(70, 101, 169); }
.sociallinkList-item .sociallinkList-item-link-vk, .sociallinkList-item .sociallinkList-item-link-vk.konturIconic, .sociallinkList-item .sociallinkList-item-link_vkontakte { color: rgb(87, 123, 164); }
.sociallinkList-item .sociallinkList-item-link-instagram.konturIconic, .sociallinkList-item .sociallinkList-item-link_instagram { color: rgb(213, 65, 93); }
.sociallinkList-item .sociallinkList-item-link-gl, .sociallinkList-item .sociallinkList-item-link-gl.konturIconic, .sociallinkList-item .sociallinkList-item-link-yt, .sociallinkList-item .sociallinkList-item-link-yt.konturIconic { color: rgb(213, 65, 65); }
.sociallinkList-item-link:hover { opacity: 0.8; }
.sociallinkList-item-link:hover { text-decoration: none; }
.sociallinkList-item_small { display: inline-block; margin-right: 0px; }
.sociallinkList-item_small .konturIconic { font-size: 29px; }
.link, a { text-decoration: none; color: rgb(1, 92, 203); cursor: pointer; }
.link.hover, .link:hover, .link:hover .link, .link_hoverParent:hover .link, .link_hoverParent:hover a, a.hover, a:hover, a:hover .link { color: rgb(1, 92, 203); text-decoration: underline; }
.nowrap { white-space: nowrap; }
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 1921px) {
  .mobile-friendly .container { max-width: 1235px !important; width: 100%; }
}
.flex-menu-popup { padding: 16px 0px; }
.flex-menu-popup__footer { padding-top: 36px; }
.flex-menu__item { font-size: 18px; line-height: 28px; font-weight: 600; position: relative; padding: 7px 0px; }
.flex-menu__item::after { content: ""; position: absolute; bottom: 0px; left: 20px; right: 20px; height: 2px; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.flex-menu__item:last-child { padding-bottom: 0px; }
.flex-menu__item:last-child::after { display: none; }
.flex-menu.flex-menu_simple .flex-menu__item { font-size: 16px; line-height: 24px; font-weight: 400; padding: 0px; }
.flex-menu.flex-menu_simple .flex-menu__item::after { display: none; }
.flex-menu .main-menu-link { display: block; padding: 11px 20px 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: rgb(34, 34, 34); }
.flex-menu .main-menu-link_active { color: rgba(0, 0, 0, 0.5) !important; }
.flex-menu .main-menu-link:hover:not(.main-menu-link_active):not(.main-menu-link_submenu-title) { background: rgba(0, 0, 0, 0.03) none repeat scroll 0% 0%; color: rgb(34, 34, 34); }
@media screen and (min-width: 1024px) {
  .flex-menu-popup { padding: 0px; }
  .flex-menu-popup_complex { width: 320px; margin-top: 21px; }
  .flex-menu-popup_simple { padding: 9px 0px; }
  .flex-menu-popup__footer, .flex-menu__item_hide { display: none; }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .flex-menu-popup { left: auto !important; right: -15px !important; width: 320px; }
  .flex-menu-popup__footer { padding-top: 0px; }
  .flex-menu-popup .main-menu { -moz-box-pack: center; justify-content: center; }
  .flex-menu-popup .main-menu__item { margin-left: 0px; padding: 21px 0px 16px; }
  .flex-menu-popup .main-menu__item:not(.main-menu__item_all-product-link) { display: none; }
  .flex-menu-popup .main-menu .main-menu-link { font-size: 18px; line-height: 28px; }
}
@media screen and (min-width: 768px) {
  .flex-menu-popup { position: absolute; min-width: 280px; box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15); border-radius: 4px; max-height: 75vh; overflow: auto; margin-top: 21px; }
}
@media screen and (max-width: 767px) {
  .flex-menu-popup { width: 100%; left: 0px !important; right: 0px !important; position: fixed; bottom: 0px; border: 0px none; margin: 0px; top: 48px; overflow: auto; padding: 8px 0px; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; -moz-box-pack: justify; justify-content: space-between; }
  .flex-menu-popup .menu-btn { width: 260px; }
}
:target::before { content: ""; display: block; height: 80px; margin-top: -80px; }
@media screen and (min-width: 768px) and (max-width: 1100px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 992px) and (max-width: 1100px) {
}
@media screen and (max-width: 767px) {
}
.arrow-control { cursor: pointer; }
.arrow-control__item-open { display: inline-block; vertical-align: text-bottom; }
.arrow-control.open .arrow-control__item-open, .arrow-control__item-close, .open .arrow-control__item-open { display: none; }
@media screen and (max-width: 767px) {
}
.page-layout, body, html { height: 100%; }
.page-layout__inner { height: 100%; display: flex; -moz-box-orient: vertical; -moz-box-direction: normal; flex-direction: column; }
.page-layout__content { -moz-box-flex: 1; flex: 1 0 auto; }
.page-layout__footer, .page-layout__header { flex-shrink: 0; }
@font-face {
  font-family: "konturIconic";
  font-style: normal;
  src: url("kontur-iconic-eco-webfont-96cc4e2c204be75d55118de74f1ec959.eot") format("eot"), url("kontur-iconic-eco-webfont-af48b1374f9bb5fd0c0029b884690d15.woff") format("woff"), url("kontur-iconic-eco-webfont-78f60024070b02f47dd8eb1c0a542992.ttf") format("truetype"), url("kontur-iconic-eco-webfont-1d3e80666c39ec19e62447d9267e2ebb.svg") format("svg");
}
.konturIconic { font-family: konturIconic !important; font-size: 14px; font-weight: 400 !important; }
.link .konturIconic, a .konturIconic { cursor: pointer; }
.icon_E042::before, .konturIconic-arrow-bold-up::before { content: ""; }
.icon_E058::before, .konturIconic-arrow-chevron-down::before { content: ""; }
.icon_E059::before, .konturIconic-arrow-chevron-up::before { content: ""; }
.icon_E061::before, .konturIconic-new-window::before { content: ""; }
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (min-width: 1100px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 991px) {
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
button::-moz-focus-inner { padding: 0px; border: 0px none; }
@media screen and (max-height: 300px), screen and (max-width: 800px) and (orientation: landscape) {
}
@media (max-width: 900px) {
}
@keyframes slideFromTop {
0% { visibility: hidden; }
50% { transform: translateY(-5%); visibility: hidden; }
100% { transform: translateY(0px); visibility: visible; }
}
@keyframes slideFromTop {
0% { visibility: hidden; }
50% { transform: translateY(-5%); visibility: hidden; }
100% { transform: translateY(0px); visibility: visible; }
}
@keyframes slidetoBottom {
0% { transform: translateY(0px); opacity: 1; }
100% { transform: translateY(5%); opacity: 0; }
}
@keyframes slidetoBottom {
0% { transform: translateY(0px); opacity: 1; }
100% { transform: translateY(5%); opacity: 0; }
}
@keyframes shake {
0% { transform: translate(0px); }
17% { transform: translate(10px); }
34% { transform: translate(-10px); }
51% { transform: translate(6px); }
68% { transform: translate(-6px); }
85% { transform: translate(3px); }
100% { transform: translate(0px); }
}
@keyframes shake {
0% { transform: translate(0px); }
17% { transform: translate(10px); }
34% { transform: translate(-10px); }
51% { transform: translate(6px); }
68% { transform: translate(-6px); }
85% { transform: translate(3px); }
100% { transform: translate(0px); }
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
}
@media screen and (min-width: 768px) {
  .content-head__inner { width: 83.3333%; margin: 0px auto; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
.content-head.content-head_redesigned { padding-top: 24px; padding-bottom: 48px; }
.content-head.content-head_redesigned .content-head__title { font-size: 28px; line-height: 1.29; font-weight: 700; margin: 0px; padding-top: 8px; }
@media screen and (max-width: 374px) {
  .content-head.content-head_redesigned .content-head__title { line-height: 1.21; }
}
@media screen and (max-width: 374px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 991px) and (max-width: 374px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 374px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 991px) and (max-width: 374px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
.content-head.content-head_redesigned + * { margin-top: 0px; }
@media screen and (min-width: 768px) {
  .content-head.content-head_redesigned { padding-top: 32px; padding-bottom: 64px; }
  .content-head.content-head_redesigned .content-head__title { font-size: 36px; line-height: 1.17; }
}
@media screen and (min-width: 992px) {
  .content-head.content-head_redesigned { padding-top: 40px; padding-bottom: 72px; }
  .content-head.content-head_redesigned .content-head__title { font-size: 40px; line-height: 1.2; }
}
@media screen and (min-width: 992px) and (max-width: 374px) {
  .content-head.content-head_redesigned .content-head__title { line-height: 1.1; }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
  .content-head.content-head_redesigned { padding-top: 56px; }
  .content-head.content-head_redesigned .content-head__title { font-size: 48px; line-height: 1.13; }
}
@media screen and (min-width: 1200px) and (max-width: 374px) {
  .content-head.content-head_redesigned .content-head__title { line-height: 1; }
}
@media screen and (min-width: 1440px) {
  .content-head.content-head_redesigned { padding-bottom: 96px; }
  .content-head.content-head_redesigned .content-head__title.content-head__title_size-small { font-size: 40px; line-height: 1.2; }
}
@media screen and (min-width: 1440px) and (max-width: 374px) {
  .content-head.content-head_redesigned .content-head__title.content-head__title_size-small { line-height: 1.1; }
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1440px) and (max-width: 374px) {
}
@media screen and (min-width: 1440px) {
}
@keyframes rotating {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
@keyframes rotating {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
