@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 100;
  src: url("LabGrotesque-Thin.woff2") format("woff2"), url("LabGrotesque-Thin.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 300;
  src: url("LabGrotesque-Light.woff2") format("woff2"), url("LabGrotesque-Light.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("LabGrotesque-Regular.woff2") format("woff2"), url("LabGrotesque-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("LabGrotesque-Medium.woff2") format("woff2"), url("LabGrotesque-Medium.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 600;
  src: url("LabGrotesque-Medium.woff2") format("woff2"), url("LabGrotesque-Medium.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("LabGrotesque-Bold.woff2") format("woff2"), url("LabGrotesque-Bold.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 100;
  src: url("LabGrotesque-ThinItalic.woff2") format("woff2"), url("LabGrotesque-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 300;
  src: url("LabGrotesque-LightItalic.woff2") format("woff2"), url("LabGrotesque-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 400;
  src: url("LabGrotesque-Italic.woff2") format("woff2"), url("LabGrotesque-Italic.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 700;
  src: url("LabGrotesque-BoldItalic.woff2") format("woff2"), url("LabGrotesque-BoldItalic.woff") format("woff");
}
body { font-family: Lab Grotesque,-apple-system,BlinkMacSystemFont,Arial,Liberation Sans,Nimbus Sans L,sans-serif; }
html { line-height: 1.15; }
body { margin: 0px; }
h1 { font-size: 2em; margin: 0.67em 0px; }
hr { box-sizing: content-box; height: 0px; overflow: visible; }
a { background-color: transparent; }
b, strong { font-weight: bolder; }
img { border-style: none; }
button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0px; }
button, input { overflow: visible; }
button, select { text-transform: none; }
[type="button"], [type="reset"], [type="submit"], button {  }
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border-style: none; padding: 0px; }
[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring { outline: 1px dotted buttontext; }
textarea { overflow: auto; }
[hidden], template { display: none; }
*, *::after, *::before { box-sizing: border-box; }
body { color:var(--color-primary-text); }
ol, ul { padding: 0px; margin: 0px; list-style: outside none none; }
.avisited, .link, a, a:link, a:visited { color: rgb(1, 92, 203); cursor: pointer; text-decoration: none; }
.ahover, .link:hover, a:hover { text-decoration: underline; color: rgb(1, 92, 203); cursor: pointer; }
a:active, a:visited:active { color: rgb(1, 92, 203); }
.h1:first-child, .h2:first-child, .h3:first-child, .h4:first-child, .h5:first-child, .h6:first-child, h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h1:first-child, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h2:first-child, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h3:first-child, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h4:first-child, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h5:first-child, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6, h6:first-child { margin-top: 0px !important; }
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5 { margin-bottom: 15px; line-height: 1.3em; font-weight: 400; }
.h1, .h2, .h3, h1, h2, h3 { margin-top: 35px; }
.h1, h1 { font-size: 32px; }
.h2, h2 { font-size: 26px; }
.h3, h3 { font-size: 22px; }
.h2.chapter, h2.chapter { font-weight: 300; font-size: 38px; }
p { line-height: 1.45em; }
p, p.lead { margin-bottom: 20px; margin-top: 0px; }
p.lead { font-size: 22px; font-weight: 300; }
.text .avisited, .text .avisited:hover, .text a:visited, .text a:visited:hover { color: rgb(1, 92, 203); }
.text b, .text b b, .text b strong, .text strong, .text strong b, .text strong strong { font-weight: 700; }
.text-right { text-align: right; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container::after, .container::before { content: " "; display: table; }
.container::after { clear: both; }
@media screen and (min-width: 768px) {
  .container { width: 100%; }
}
@media screen and (min-width: 992px) {
  .container { width: 100%; }
}
@media screen and (min-width: 1200px) {
  .container { width: 1070px; }
}
.row { margin-left: -15px; margin-right: -15px; }
.row::after, .row::before { content: " "; display: table; }
.row::after { clear: both; }
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
@media screen and (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-7 { width: 58.3333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.6667%; }
  .col-sm-4 { width: 33.3333%; }
  .col-sm-3 { width: 25%; }
}
@media screen and (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-10 { width: 83.3333%; }
  .col-md-7 { width: 58.3333%; }
  .col-md-6 { width: 50%; }
}
@media screen and (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-7 { width: 58.3333%; }
}
.form-row { margin-top: 15px; }
.form-row:first-child, .form-row:first-of-type { margin-top: 0px; }
.form-row::after { clear: both; content: ""; display: block; }
.form-group { margin-top: 35px; }
.form-group:first-child, .form-group:first-of-type { margin-top: 0px; }
.form-label-wrap { margin: 0px; }
.form-label-wrap .form-label { margin-top: 6px; display: inline-block; }
.form-input-wrap { margin: 5px 0px 0px; }
.form :-moz-placeholder, .form *::-moz-placeholder { color: rgb(161, 161, 161); }
.form-input { padding: 5px 10px 6px; border: 1px solid rgb(217, 217, 217); width: 100%; border-radius: 1px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); outline: medium none; font-size: 15px; line-height: 1.43em; }
.form-input.focus, .form-input:focus { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(81, 153, 219); box-shadow: 0px 0px 0px 1px rgb(81, 153, 219); }
.form-input-inn, .form-input_inn { max-width: 130px; }
.form-input-comment_term-of-use { margin: 12px 0px 0px; line-height: 1.5; color: rgb(161, 161, 161); }
textarea.form-input { resize: vertical; min-height: 70px; max-height: 700px; display: block; }
select.form-input { padding: 4px 10px; height: 33px; }
.form-input.input-lg, .form-lg .form-input { font-size: 18px; line-height: 1.33em; padding: 7px 10px 9px; }
.form-label-required { color: rgb(218, 9, 2); }
.form-input[type="text"], select.form-input { min-width: 100px; }
.form-horizontal .form-label-wrap, .form_horizontal .form-label-wrap { float: left; width: 185px; }
.form-horizontal .form-input-wrap, .form_horizontal .form-input-wrap { margin: 0px 0px 0px 200px; }
.form-input-comment, .form-input-comment-error { font-size: 13px; line-height: 1.2; margin: 5px 0px 0px; color: rgb(161, 161, 161); }
.pull-right { float: right !important; }
.none { display: none; }
.hide { display: none !important; }
.text-left { text-align: left; }
.text-right { text-align: right !important; }
.text-center { text-align: center; }
@media (min-width: 768px) {
  .text-sm-left { text-align: left !important; }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
.text-bold { font-weight: bolder; }
.p-l-0, .p-x-0 { padding-left: 0px !important; }
.m-t-xs { margin-top: 15px; }
.m-t-0 { margin-top: 0px !important; }
.m-b-0 { margin-bottom: 0px !important; }
html { position: relative; min-height: 100%; }
.link-icon, .link-icon .link { text-decoration: none; }
.link-icon .link { color: inherit; }
.link-icon.hover, .link-icon:hover { text-decoration: none; }
.link-icon.hover .link, .link-icon:hover .link { text-decoration: underline; color: inherit; }
.link-icon.hover .konturIconic, .link-icon:hover .konturIconic { color: inherit; }
.mobile-friendly .visible-lg-block, .mobile-friendly .visible-lg-inline, .mobile-friendly .visible-lg-inline-block, .mobile-friendly .visible-md-block, .mobile-friendly .visible-md-inline, .mobile-friendly .visible-md-inline-block, .mobile-friendly .visible-sm-block, .mobile-friendly .visible-sm-inline, .mobile-friendly .visible-sm-inline-block, .mobile-friendly .visible-xs-block, .mobile-friendly .visible-xs-inline, .mobile-friendly .visible-xs-inline-block { display: none !important; }
@media screen and (max-width: 767px) {
  .mobile-friendly .visible-xs-block { display: block !important; }
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (max-width: 767px) {
  .mobile-friendly .hidden-xs { display: none !important; }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .mobile-friendly .hidden-sm { display: none !important; }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile-friendly .hidden-md { display: none !important; }
}
@media screen and (min-width: 1200px) {
  .mobile-friendly .hidden-lg { display: none !important; }
}
@media screen and (max-width: 991px) {
  .mobile-friendly body { margin: 0px auto !important; position: relative; overflow-x: hidden; }
  .mobile-friendly footer { height: auto !important; position: static !important; }
}
@media screen and (max-width: 767px) {
  .mobile-friendly .container { width: 100%; }
  .mobile-friendly [class*="col-"] img { max-width: 100%; }
  .mobile-friendly .text .h1, .mobile-friendly .text h1 { font-size: 26px; font-weight: 300; }
  .mobile-friendly .text .h2, .mobile-friendly .text h2 { font-size: 22px; font-weight: 400; }
  .mobile-friendly .text .h3, .mobile-friendly .text h3 { font-size: 22px; font-weight: 300; }
  .mobile-friendly .text .lead { font-size: 18px; font-weight: 400; }
  .mobile-friendly .form-input-wrap, .mobile-friendly .form-label-wrap { margin-left: 0px !important; width: 100% !important; float: none !important; }
  .mobile-friendly .form-input-wrap { padding-top: 5px; }
  .mobile-friendly .form-input { box-shadow: none; }
  .mobile-friendly .form-input[placeholder] { text-overflow: ellipsis; }
}
@media screen and (min-width: 992px) {
}
.chapter, .h2.chapter, h2.chapter { letter-spacing: -0.3px; font-weight: 400; }
hr { border: 0px none; margin-bottom: 20px; margin-top: 0px; height: 1px; background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; }
@media screen and (max-width: 767px) {
}
body { font-size: 15px; line-height: 1.45em; }
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 1921px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 767px) {
}
@keyframes spin {
0% { background-position: 0px 0px; }
100% { background-position: 19px 0px; }
}
@keyframes spin {
0% { background-position: 0px 0px; }
100% { background-position: 19px 0px; }
}
.form textarea { height: 75px; font-size: 1em; vertical-align: top; display: block; overflow: auto; }
.form .message- { margin: 15px 0px; }
input[type="password"] {  }
@media screen and (min-width: 992px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (max-width: 1080px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@supports (display:flex) {
  .event-article-info { display: flex; width: auto; -moz-box-pack: justify; justify-content: space-between; }
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 991px) and (min-width: 481px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
}
