.red-color { color: rgb(212, 0, 0); }
.feedback-form { max-width: 450px; }
a.button, a.button:visited { display: inline-block; position: relative; margin: 0px 22px; padding: 17px 0px 18px; font-size: 18px; line-height: 21px; background: rgba(0, 0, 0, 0) url("button-bg-01341d997974cdbccbd8932438cf8e1a.gif") repeat-x scroll 50% center; text-decoration: none; color: rgb(1, 92, 203); }
@media not all {
}
.nowrap { white-space: nowrap; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1145px) {
}
@media screen and (max-width: 767px) {
}
