.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
.col-sm-12 { width: 100%; }
.col-sm-7 { width: 58.3333%; }
.col-sm-6 { width: 50%; }
.col-sm-5 { width: 41.6667%; }
.col-sm-4 { width: 33.3333%; }
.col-sm-3 { width: 25%; }
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
.col-md-10 { width: 83.3333%; }
.col-md-7 { width: 58.3333%; }
.col-md-6 { width: 50%; }
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
.col-lg-7 { width: 58.3333%; }
@page { margin: 2cm; }
body { margin: 0px !important; padding: 0px !important; font-family: Lab Grotesque,-apple-system,BlinkMacSystemFont,Arial,Liberation Sans,Nimbus Sans L,sans-serif; font-size: 15px; line-height: 1.43; }
#pageWrapper { box-shadow: none; }
* { color: rgb(0, 0, 0) !important; }
.footer, .noprint, aside, footer { display: none !important; }
a { text-decoration: none; overflow-wrap: break-word; background: transparent none repeat scroll 0% 0%; }
a, a img { border: 0px none; }
.h1, .h2, .h3, h1, h2, h3 { page-break-inside: avoid; page-break-after: avoid; }
p {  }
.addthis-panel, .article-video-preview::before, .articleFloatBlock, .articlePreview-img-wrap_video::after, .articleSubscriptionBlock, .btn-load-more, .collapse-handler, .main-menu, .menu-2, .menu-navigation_fixed, .searchBlock, .sideBlock-wrap, .user-menu { display: none !important; }
