.lp-styles .row::after, .lp-styles .row::before { width: 0px; height: 0px; }
.lp-styles .text .button:hover:not(.button_transparent):not(.button_link) { color: rgb(255, 255, 255); }
.lp-styles .text a.button:focus:not(.button_link), .lp-styles .text a.button:hover:not(.button_link) { text-decoration: none; }
@media screen and (max-width: 991px) {
}
@media screen and (min-width: 1200px) {
  .container { width: 100% !important; max-width: 1080px !important; padding: 0px !important; }
}
@media screen and (min-width: 1440px) {
}
@media screen and (min-width: 1200px) and (max-width: 1439px) {
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
}
