@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 991px) and (max-width: 374px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 767px) and (max-width: 374px) {
}
@media screen and (max-width: 374px) {
}
.promo-block-form { text-align: center; max-width: 400px; margin: 0px auto; }
.promo-block-form .form-input-comment { color: rgb(188, 188, 188); }
.promo-block-form .form-input-comment .avisited, .promo-block-form .form-input-comment .link, .promo-block-form .form-input-comment a, .promo-block-form .form-input-comment a:link, .promo-block-form .form-input-comment a:visited { color: inherit; text-decoration: underline; }
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 1199px) and (max-width: 374px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 374px) {
}
@media screen and (max-width: 374px) and (max-width: 374px) {
}
@media screen and (max-width: 374px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 374px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
.chapter { letter-spacing: normal; }
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (min-width: 992px) {
}
.all-products-menu { height: 38px; }
.all-products-menu__drop { transform: translate3d(0px, -48px, 0px); z-index: -1; opacity: 0; transition: transform 0.2s linear 0s, opacity 0.2s linear 0s, -webkit-transform 0.2s linear 0s; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: fixed; width: 100%; margin: 0px; top: 0px; padding-top: 96px; left: 0px; border: 0px none; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.15); }
.all-products-menu .button { color: rgb(34, 34, 34); }
.category-menu-list { margin-bottom: 56px; }
.category-menu-list__item { padding: 0px 15px; margin-bottom: 16px; vertical-align: top; }
.category-menu-list__link { font-size: 20px; line-height: 1.5; font-weight: 600; border-bottom: 2px solid rgba(0, 0, 0, 0.15); color: currentcolor !important; }
@media screen and (max-width: 374px) {
  .category-menu-list__link { line-height: 1.4; }
}
.category-menu-list__link:focus, .category-menu-list__link:hover { text-decoration: none !important; color: currentcolor; border-color: currentcolor; }
.category-menu-list__arrow { position: absolute; top: 50%; right: 6px; margin-top: -13px; }
.category-menu-list { margin-bottom: 24px; }
.category-menu-list__group { display: flex; flex-wrap: wrap; margin: 0px -15px; }
.category-menu-list__item { -moz-box-flex: 0; flex: 0 0 33%; max-width: 33%; width: 100%; }
@media screen and (max-width: 1199px) {
  .category-menu-list__group { margin-right: 0px; }
  .category-menu-list__item { padding-right: 0px; }
  .category-menu-list__item:first-child { -moz-box-flex: 0; flex: 0 0 30%; max-width: 30%; }
  .category-menu-list__item:nth-child(2) { -moz-box-flex: 0; flex: 0 0 40%; max-width: 40%; }
  .category-menu-list__item:nth-child(3) { -moz-box-flex: 0; flex: 0 0 30%; max-width: 30%; }
  .category-menu-list__link { font-size: 18px; line-height: 1.44; }
}
@media screen and (min-width: 1921px) {
  .category-menu-list { margin-bottom: 72px; }
  .category-menu-list__link { font-size: 22px; line-height: 1.45; }
}
@media screen and (min-width: 1921px) and (max-width: 374px) {
  .category-menu-list__link { line-height: 1.36; }
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
}
@media screen and (min-width: 1024px) {
}
@media screen and (min-width: 1024px) and (max-width: 1920px) and (max-height: 780px) {
}
@media screen and (min-width: 1921px) {
}
.flagman-link { display: inline-block; position: relative; background-color: rgb(255, 255, 255); border-radius: 27px; font-weight: 600; font-size: 20px; line-height: 1.2; padding: 12px 16px 12px 56px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.06); }
.flagman-link:active, .flagman-link:focus, .flagman-link:hover { text-decoration: none !important; }
.flagman-link span { color: rgb(34, 34, 34) !important; }
.flagman-link img { position: absolute; top: 8px; left: 14px; }
.flagman-link:not(:last-child) { margin-right: 8px; }
@media screen and (min-width: 1024px) {
  .flagman-link { box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.07); }
  .flagman-link:hover { box-shadow: 0px 5px 10px 0px currentcolor; transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s; }
  .flagman-link:not(:last-child) { margin-right: 16px; }
}
@media screen and (max-width: 1023px) {
  .flagman-link { padding: 12px 20px 12px 48px; font-size: 16px; }
  .flagman-link img { left: 16px; width: 26px; height: 26px; }
}
@media screen and (max-width: 1199px) {
  .flagman-link { padding: 10px 20px 10px 48px; font-size: 18px; }
  .flagman-link:not(:last-child) { margin-right: 14px; }
  .flagman-link img { width: 24px; height: 24px; top: 7px; }
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 991px) {
}
@media screen and (max-width: 374px) {
}
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
.footer_product { width: calc(100% - 16px); max-width: 1408px !important; padding-top: 32px; padding-bottom: 72px; border-top: medium none; margin:var(--spacer-xxlarge,120px) auto 0!important; }
.footer_product.footer_product { padding-left: 12px; padding-right: 12px; }
.footer_product .container { padding: 0px !important; }
.footer_product .footer__logo { margin-top: 56px; margin-bottom: 16px; display: inline-block; }
.footer_product .kontur-logo { filter: grayscale(1) opacity(0.48); transition: filter 0.15s ease 0s; }
.footer_product .kontur-logo:hover { filter: none; }
.footer_product .kontur-logo img { width: 81px; height: 29px; }
.footer_product .footer__separator { margin-bottom: 24px; }
.footer_product .menu-footer { font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 16px; font-weight: 400; }
.footer_product .menu-footer:first-child { margin-top: 0px; }
.footer_product .menu-footer:last-child { margin-bottom: 0px; }
.footer_product .menu-footer_black { font-size: 18px; line-height: 1.44; margin-top: 0px; margin-bottom: 20px; font-weight: 400; }
.footer_product .menu-footer_black:first-child { margin-top: 0px; }
.footer_product .menu-footer_black:last-child { margin-bottom: 0px; }
@media screen and (max-width: 991px) {
  .footer_product .menu-footer_black { font-size: 16px; line-height: 1.5; margin-top: 0px; margin-bottom: 16px; }
  .footer_product .menu-footer_black:first-child { margin-top: 0px; }
  .footer_product .menu-footer_black:last-child { margin-bottom: 0px; }
}
.footer_product .menu-footer_black .menu-footer__item { padding: 0px 0px 16px; line-height: 1.15; }
.footer__logo { margin-bottom: 8px; }
.footer-companyname { line-height: 1.9; }
.footer-second { margin-top: 32px; }
@media screen and (max-width: 767px) {
  .footer-contacts.footer-contacts { border-radius: 24px; padding: 16px 16px 0px; margin-left: -16px; margin-right: -16px; width: calc(100% + 32px); }
  .footer-contacts .footer-menu { margin-bottom: 0px; }
  .footer-contacts .menu-footer__list { display: flex; -moz-box-orient: vertical; -moz-box-direction: reverse; flex-direction: column-reverse; }
}
@media screen and (min-width: 375px) {
  .footer_product.footer_product { padding-left: 22px; padding-right: 22px; }
}
@media screen and (min-width: 768px) {
  .footer_product.footer_product { padding-left: 40px; padding-right: 40px; }
  .footer_product .menu-footer__list_second-level { padding-top: 112px; }
}
@media screen and (min-width: 992px) {
  .footer_product.footer_product { width: calc(100% - 60px); }
}
@media screen and (min-width: 1200px) {
  .footer_product.footer_product { width: 100%; padding-left: 0px; padding-right: 0px; }
}
@media screen and (max-width: 374px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) and (max-width: 374px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 992px) {
}
@media screen and (max-height: 699px), screen and (max-width: 1439px) {
}
@media screen and (max-width: 767px) {
}
@keyframes rotating {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
@keyframes rotating {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
