.support-widget-veil { z-index: 9999; position: fixed; top: 0px; left: 0px; width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0) radial-gradient(47.92% 80.16% at 97.19% 95.69% , rgba(215, 215, 215, 0.5) 0px, rgba(255, 255, 255, 0.5) 100%) repeat scroll 0% 0%; animation: 0.35s ease 0s normal both 1 running support-widget-veil-fadeIn; }
@keyframes support-widget-veil-fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes support-widget-veil-fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
